<template>
  <card class="border-0" hover shadow body-classes="py-5">
    <icon name="ni ni-check-bold" :type="memoColor" rounded class="mb-4">
    </icon>
    <h6 class="text-uppercase" v-bind:class="[textColor]">{{ memo.title }}</h6>
    <p class="description mt-3">
      <v-clamp
        :class="{ demo: true, hyphens: true, rtl: false }"
        :max-lines="1"
        autoresize
        ellipsis="... "
      >
        {{ memo.content }}
        <template #after="{ toggle, expanded, clamped }">
          <base-button
            v-if="clamped"
            class="toggle btn btn-sm"
            @click="toggle"
            type="primary"
            icon="fa fa-plus"
            size="sm"
            rounded
            outline
          />
          <base-button
            v-else-if="expanded"
            class="toggle btn btn-sm"
            @click="toggle"
            type="primary"
            icon="fa fa-minus"
            size="sm"
            rounded
            outline
          />
        </template>
      </v-clamp>
    </p>
    <div>
      <badge
        :type="memoColor"
        rounded
        v-for="(tag, index) in tags"
        :key="index"
      >
        {{ tag }}
      </badge>
    </div>
    <base-button
      class="mt-4"
      type="primary"
      icon="ni ni-book-bookmark"
      @click="openEditModal"
      :disabled="isDisabled"
      >Editer</base-button
    >
    <base-button
      class="mt-4"
      type="danger"
      icon="fa fa-trash"
      @click="openDeleteModal"
      :disabled="isDisabled"
      >Supprimer</base-button
    >
  </card>
</template>

<script>
import { EventBus } from "@/event-bus";
import { MEMO_COLOR } from "@/variables";
import VClamp from "vue-clamp";

export default {
  name: "memo-card",
  components: {
    VClamp,
  },
  props: {
    memo: Object,
    memoColor: String,
  },
  data() {
    return {
      loading: false,
      textColor: "text-primary",
      tags: ["design", "system", "creative"],
    };
  },
  methods: {
    openEditModal() {
      EventBus.$emit("open-modal", this.memo);
    },
    openDeleteModal() {
      EventBus.$emit("delete-modal", this.memo);
    },
  },
  mounted() {
    this.textColor = MEMO_COLOR[this.memoColor];
  },
  computed: {
    isDisabled() {
      return this.loading == true;
    },
  },
  created() {
    EventBus.$on("button-state", (state) => {
      this.loading = state;
    });
  },
};
</script>

<style></style>
