<template>
  <div class="container">
    <transition name="fade" mode="out-in">
      <div v-if="loading" key="1">
        <skeleton-loader></skeleton-loader>
      </div>
      <div v-else key="2">
        <div class="row pb-2 justify-content-center">
          <memo-form-modal
            v-on:add-memo="addNewMemo"
            v-on:update-memo="updateExistingMemo"
            v-on:delete-memo="deleteExistingMemo"
          ></memo-form-modal>
          <base-button
            class="mb-5"
            type="primary"
            icon="ni ni-book-bookmark"
            @click="openModal"
            >Nouveau mémo</base-button
          >
          <div class="col-lg-12" v-if="memos.length > 0">
            <div
              class="row row-grid"
              v-for="(row, index) in memoChunks"
              :key="index"
            >
              <div class="col-lg-4" v-for="(memo, index) in row" :key="index">
                <memo-card :memo="memo" :memoColor="'primary'"></memo-card>
              </div>
            </div>
          </div>
          <div class="col-lg-12" v-else>
            <h1 class="mt-4"><i class="fa fa-meh-o mr-2"></i>Aucun mémo...</h1>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import _ from "lodash";
import httpClient from "@/services/httpClient";
import { SkeletonLoader } from "@/skeleton";
import { EventBus } from "@/event-bus";

import MemoCard from "@/views/app/memo/MemoCard";
import MemoFormModal from "@/views/app/memo//modal/MemoForm";

export default {
  name: "memo-list",
  components: {
    MemoCard,
    MemoFormModal,
    SkeletonLoader,
  },
  data() {
    return {
      memos: [],
      loading: true,
      modals: {
        modalMemoForm: false,
      },
    };
  },
  methods: {
    openModal(memo) {
      EventBus.$emit("open-modal", {});
    },
    loadMemos() {
      httpClient.get("api/memo").then((response) => {
        response.data.memosList.forEach((data) => {
          this.memos.push({
            id: data.id,
            title: data.title,
            content: data.content,
            scope: data.scope,
            status: data.status,
          });
        });
        this.loading = false;
      });
    },
    addNewMemo(memo) {
      this.memos.push(memo);
    },
    updateExistingMemo(data) {
      let index = this.memos.indexOf(data["oldMemo"]);
      this.memos.splice(index, 1, data["newMemo"]);
    },
    deleteExistingMemo(data) {
      let index = this.memos.indexOf(data["oldMemo"]);
      this.memos.splice(index, 1);
    },
  },
  mounted() {
    this.loadMemos();
  },
  computed: {
    memoChunks() {
      return _.chunk(Object.values(this.memos), 3);
    },
  },
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
