<template>
  <div class="container">
    <!-- Modal Form Add/Update Memo -->
    <modal
      :show.sync="modals.modalMemoForm"
      :showClose="!loading"
      modal-classes="modal-dialog-centered"
    >
      <h3
        slot="header"
        id="modal-title-primary"
        class="heading-title text-primary mb-0 odal-title"
      >
        <i class="ni ni-book-bookmark mr-1"></i>
        {{ titleForm }}
      </h3>
      <template>
        <form role="form" method="POST" action="/memo">
          <fieldset :disabled="loading">
            <base-alert type="danger" v-if="$v.$anyError">
              <li slot="text" v-if="!$v.memo.title.required">
                Un titre est requis.
              </li>
              <li slot="text" v-if="!$v.memo.title.maxLength">
                Un maximum de 15 caractères autorisé
              </li>
              <li slot="text" v-if="!$v.memo.content.required">
                Un contenu est requis.
              </li>
              <li slot="text" v-if="!$v.memo.content.maxLength">
                Un maximum de 500 caractères autorisé
              </li>
            </base-alert>
            <base-input
              alternative
              class="mb-3"
              placeholder="Titre"
              addon-left-icon="ni ni-collection"
              v-model.trim="$v.memo.title.$model"
              :valid="!$v.memo.title.$anyError"
            >
            </base-input>
            <base-input
              alternative
              class="mb-3"
              placeholder="Ecrivez ce qui vous passe par la tête..."
              addon-left-icon="ni ni-ruler-pencil"
              v-model.trim="$v.memo.content.$model"
              :valid="!$v.memo.content.$anyError"
            >
            </base-input>
            <div class="text-center">
              <base-button type="primary" class="my-4" v-if="loading">
                <b-spinner small type="grow"></b-spinner>
                Enregistrement...
              </base-button>
              <base-button
                type="primary"
                class="my-4"
                @click="addOrUpdateMemo"
                v-else
              >
                Enregistrer
              </base-button>
            </div>
          </fieldset>
        </form>
      </template>
    </modal>
    <!-- Modal confirmation remove Memo -->
    <modal :show.sync="modals.modalMemoDelete" :showClose="!loading">
      <template slot="header">
        <h3
          slot="header"
          id="modal-title-default"
          class="heading-title text-primary mb-0 odal-title"
        >
          <i class="fa fa-trash mr-1"></i>
          Suppression
        </h3>
      </template>
      <div>Etes-vous sûr de vouloir supprimer ce mémo?</div>
      <template slot="footer">
        <base-button
          type="secondary"
          @click="modals.modalMemoDelete = false"
          :disabled="loading"
          >Annuler</base-button
        >
        <base-button type="danger" :disabled="loading" v-if="loading">
          <b-spinner small type="grow"></b-spinner>
          Suppression...
        </base-button>
        <base-button
          type="danger"
          @click="deleteAMemo"
          :disabled="loading"
          v-else
          >Confirmer</base-button
        >
      </template>
    </modal>
  </div>
</template>

<script>
import { EventBus } from "@/event-bus";
import httpClient from "@/services/httpClient";

import { BSpinner } from "bootstrap-vue/esm/components/spinner/spinner";
import Modal from "@/components/Modal.vue";

import { required, minLength, maxLength } from "vuelidate/lib/validators";

export default {
  name: "memo-form",
  components: {
    Modal,
    BSpinner,
  },
  data() {
    return {
      modals: {
        modalMemoForm: false,
        modalMemoDelete: false,
      },
      editable: false,
      currentMemo: null,
      success: false,
      error: false,
      loading: false,
      memo: {
        title: "",
        content: "",
      },
    };
  },
  methods: {
    addOrUpdateMemo(e) {
      e.preventDefault();
      this.loading = true;

      // Vuelidate check
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.loading = false;
        return;
      }

      if (this.editable) {
        this.updateAMemo();
      } else {
        this.addAMemo();
      }
    },
    addAMemo() {
      httpClient
        .post("api/memo", this.memo)
        .then((response) => {
          let memo = response.data.memo;
          this.$emit("add-memo", memo);
          this.modals.modalMemoForm = false;
          this.reset();
        })
        .catch((error) => {
          var listErrors = error.response.data.error;
          alert(JSON.stringify(listErrors));
        })
        .finally(() => {
          this.loading = false;
        });
    },
    updateAMemo() {
      httpClient
        .put("api/memo/" + this.currentMemo.id, this.memo)
        .then((response) => {
          let memo = response.data.memo;
          this.$emit("update-memo", {
            newMemo: memo,
            oldMemo: this.currentMemo,
          });
          this.modals.modalMemoForm = false;
          this.reset();
        })
        .catch((error) => {
          var listErrors = error.response.data.error;
          alert(JSON.stringify(listErrors));
        })
        .finally(() => {
          this.loading = false;
        });
    },
    deleteAMemo() {
      this.loading = true;
      httpClient
        .delete("api/memo/" + this.currentMemo.id)
        .then((response) => {
          this.$emit("delete-memo", { oldMemo: this.currentMemo });
          this.modals.modalMemoDelete = false;
          this.reset();
        })
        .catch((error) => {
          console.error(error);
          var listErrors = error.response.data.error;
          alert(JSON.stringify(listErrors));
        })
        .finally(() => {
          this.loading = false;
        });
    },
    reset() {
      this.$v.$reset;
      this.success = false;
      this.error = false;
      for (let field in this.memo) {
        this.memo[field] = "";
      }
    },
  },
  computed: {
    titleForm: function () {
      return this.editable ? "Edition Mémo" : "Nouveau Mémo";
    },
    validateTitle: function () {
      return !this.$v.memo.title.required ? "Titre requis" : "";
    },
  },
  mounted() {},
  created() {
    EventBus.$on("open-modal", (memo) => {
      this.editable = Object.keys(memo).length === 0 ? false : true;
      this.modals.modalMemoForm = true;
      this.reset();

      if (this.editable) {
        this.currentMemo = memo;
        this.memo.title = memo.title;
        this.memo.content = memo.content;
      }
    });

    EventBus.$on("delete-modal", (memo) => {
      this.modals.modalMemoDelete = true;
      this.currentMemo = memo;
    });
  },
  validations: {
    memo: {
      title: { required, maxLength: maxLength(15) },
      content: { required, maxLength: maxLength(500) },
    },
  },
};
</script>