<template>
  <section class="section section-shaped section-lg my-0">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <card
            type="secondary"
            shadow
            header-classes="bg-white pb-5"
            body-classes="px-lg-5 py-lg-5"
            class="border-0"
          >
            <template>
              <div class="text-muted text-center mb-3">
                <small>Connectez-vous via les réseaux sociaux</small>
              </div>
              <div class="btn-wrapper text-center">
                <base-button type="neutral" @click="modalWarning = true">
                  <img slot="icon" src="img/icons/common/github.svg" />
                  Github
                </base-button>

                <base-button type="neutral" @click="modalWarning = true">
                  <img slot="icon" src="img/icons/common/google.svg" />
                  Google
                </base-button>
              </div>
            </template>
            <br />
            <template>
              <div class="text-center text-muted mb-3">
                <small>Ou connectez-vous avec vos identifiants</small>
              </div>
              <form role="form" method="POST" action="/login">
                <fieldset :disabled="loading">
                  <base-alert type="danger" v-if="$v.$anyError">
                    <li slot="text" v-if="!$v.email.required">
                      Une adresse mail est requis.
                    </li>
                    <li slot="text" v-if="!$v.email.email">
                      Une adresse mail valide est requis.
                    </li>
                    <li slot="text" v-if="!$v.password.required">
                      Un mot de passe est requis.
                    </li>
                  </base-alert>
                  <base-input
                    alternative
                    type="email"
                    class="mb-3"
                    placeholder="Email"
                    addon-left-icon="ni ni-email-83"
                    v-model.trim="$v.email.$model"
                    :valid="!$v.email.$anyError"
                  >
                  </base-input>
                  <base-input
                    alternative
                    type="password"
                    placeholder="Password"
                    addon-left-icon="ni ni-lock-circle-open"
                    v-model.trim="$v.password.$model"
                    :valid="!$v.password.$anyError"
                  >
                  </base-input>
                  <base-checkbox> Se souvenir de moi </base-checkbox>
                  <div class="text-center">
                    <base-button type="primary" class="my-4" v-if="loading">
                      <b-spinner small type="grow"></b-spinner>
                      Connexion...
                    </base-button>
                    <base-button
                      type="primary"
                      class="my-4"
                      @click="handleSubmit"
                      v-else
                    >
                      Connexion
                    </base-button>
                  </div>
                </fieldset>
              </form>
            </template>
          </card>
          <div class="row mt-3">
            <div class="col-6">
              <a href="#/register" class="text-light">
                <small>Création d'un nouveau compte</small>
              </a>
            </div>
            <div class="col-6 text-right">
              <!--<a href="#" class="text-light">
                <small>Mot de passe oublié?</small>
              </a>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <modal
      :show.sync="modalWarning"
      gradient="primary"
      modal-classes="modal-danger modal-dialog-centered"
    >
      <div class="py-3 text-center">
        <i class="ni ni-spaceship ni-3x"></i>
        <h4 class="heading mt-4">En cours de construction!</h4>
        <br>
        <div class="text-center">
          <base-button type="white" @click="modalWarning = false">
            ok?!
          </base-button>
        </div>
      </div>
    </modal>
  </section>
</template>

<script>
import httpClient from "@/services/httpClient";

import { BSpinner } from "bootstrap-vue/esm/components/spinner/spinner";
import { required, email } from "vuelidate/lib/validators";
import Modal from "@/components/Modal.vue";

export default {
  name: "login",
  components: {
    Modal,
    BSpinner,
  },
  inject: ["accountService"],
  data() {
    return {
      email: "",
      password: "",
      loading: false,
      modalWarning: false,
    };
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.loading = true;

      // Vuelidate check
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.loading = false;
        return;
      }

      httpClient
        .post("api/login", {
          email: this.email,
          password: this.password,
        })
        .then((response) => {
          this.accountService().init(response.data);
          if (localStorage.getItem("token") !== null) {
            this.$router.go("/profile");
          }
        })
        .catch((error) => {
          let message = error.response.data.message;
          let listErrors =
            error.response.data.error != undefined
              ? error.response.data.error
              : "";

          alert(JSON.stringify(message) + ": " + JSON.stringify(listErrors));
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
  validations: {
    email: { required, email },
    password: { required },
  },
  beforeRouteEnter(to, from, next) {
    if (localStorage.getItem("token")) {
      return next("profile");
    }
    next();
  },
};
</script>

<style>
</style>
