<template>
  <section class="section section-shaped section-lg my-0">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <card
            type="secondary"
            shadow
            header-classes="bg-white pb-5"
            body-classes="px-lg-5 py-lg-5"
            class="border-0"
          >
            <template>
              <div class="text-center text-muted mb-4">
                <h1><i class="fa fa-user-circle"></i></h1>
                <small>Enregistrez-vous pour créer votre compte</small>
              </div>
              <form role="form" method="POST" action="/register">
                <fieldset :disabled="loading">
                  <base-alert type="danger" v-if="$v.$anyError">
                    <li slot="text" v-if="!$v.user.name.required">
                      Une nom utilisateur est requis.
                    </li>
                    <li slot="text" v-if="!$v.user.email.required">
                      Une adresse mail est requis.
                    </li>
                    <li slot="text" v-if="!$v.user.email.email">
                      Une adresse mail valide est requis.
                    </li>
                    <li slot="text" v-if="!$v.user.password.required">
                      Un mot de passe est requis.
                    </li>
                    <li slot="text" v-if="!$v.user.password.minLength">
                      Un minimum de 8 caractères pour le mot de passe
                    </li>
                    <li slot="text" v-if="!$v.check_cgu.sameAs">
                      Veuillez accepter les CGU
                    </li>
                  </base-alert>
                  <base-input
                    alternative
                    class="mb-3"
                    placeholder="Pseudo"
                    addon-left-icon="ni ni-hat-3"
                    v-model.trim="$v.user.name.$model"
                    :valid="!$v.user.name.$anyError"
                  >
                  </base-input>
                  <base-input
                    alternative
                    class="mb-3"
                    placeholder="E-mail"
                    addon-left-icon="ni ni-email-83"
                    v-model.trim="$v.user.email.$model"
                    :valid="!$v.user.email.$anyError"
                  >
                  </base-input>
                  <base-input
                    alternative
                    type="password"
                    placeholder="Mot de passe"
                    addon-left-icon="ni ni-lock-circle-open"
                    v-model.trim="$v.user.password.$model"
                    :valid="!$v.user.password.$anyError"
                  >
                  </base-input>
                  <base-input
                    alternative
                    type="password"
                    placeholder="Confirmation mot de passe"
                    addon-left-icon="ni ni-lock-circle-open"
                    v-model.trim="$v.user.password_confirmation.$model"
                    :valid="!$v.user.password_confirmation.$anyError"
                  >
                  </base-input>
                  <!-- <div class="text-muted font-italic">
                    <small>
                      Mot de passe complexité:
                      <span class="text-success font-weight-700">Forte</span>
                    </small> 
                  </div> -->
                  <div class="text-muted font-italic">
                    <small>
                      Mot de passe identique:
                      <span class="text-primary font-weight-700">{{
                        identicalPassword
                      }}</span>
                    </small>
                  </div>
                  <br />
                  <base-checkbox
                    v-model.trim="$v.check_cgu.$model"
                  >
                    <span
                      >J'accepte la
                      <a href="#">Politique de confidentialité</a>
                    </span>
                  </base-checkbox>
                  <div class="text-center">
                    <base-button type="primary" class="my-4" v-if="loading">
                      <b-spinner small type="grow"></b-spinner>
                      Création...
                    </base-button>
                    <base-button
                      type="primary"
                      class="my-4"
                      @click="handleSubmit"
                      v-else
                    >
                      Créer mon compte</base-button
                    >
                  </div>
                </fieldset>
              </form>
            </template>
          </card>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import httpClient from "@/services/httpClient";

import { BSpinner } from "bootstrap-vue/esm/components/spinner/spinner";
import { required, email, sameAs, minLength } from "vuelidate/lib/validators";

export default {
  name: "register",
  components: {
    BSpinner,
  },
  data() {
    return {
      user: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        password_strength: "",
        password_identical: "",
      },
      check_cgu: false,
      loading: false,
    };
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.loading = true;

      // Vuelidate check
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.loading = false;
        return;
      }

      httpClient
        .post("api/register", {
          name: this.user.name,
          email: this.user.email,
          password: this.user.password,
          password_confirmation: this.user.password_confirmation,
        })
        .then((response) => {
          localStorage.setItem("token", response.data.access_token);

          if (localStorage.getItem("token") != null) {
            this.$router.go("/profile");
          }
        })
        .catch((error) => {
          console.error(error);
          var listErrors = error.response.data.error;
          alert(JSON.stringify(listErrors));
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
  computed: {
    identicalPassword: function () {
      return this.$v.user.password_confirmation.sameAsPassword ? "OK" : "KO";
    },
  },
  validations: {
    user: {
      name: { required },
      email: { required, email },
      password: { required, minLength: minLength(8) },
      password_confirmation: { sameAsPassword: sameAs("password") },
    },
    check_cgu: { sameAs: sameAs(() => true) },
  },
  beforeRouteEnter(to, from, next) {
    if (localStorage.getItem("token")) {
      return next("profile");
    }
    next();
  },
};
</script>

<style>
</style>
