<template>
  <div class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <div class="shape shape-style-1 bg-gradient-info">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <section class="section section-skew">
      <div class="container">
        <card shadow class="card-profile mt--300" no-body>
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img
                      v-lazy="'img/theme/team-4-800x800.jpg'"
                      class="rounded-circle"
                    />
                  </a>
                </div>
              </div>
              <div
                class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center"
              >
                <div class="card-profile-actions py-4 mt-lg-0">
                  <base-button
                    type="secondary"
                    size="sm"
                    class="mr-4"
                    v-b-popover.hover.bottom="
                      'En visibilité pour tous les utilisateurs.'
                    "
                    title="Mémo PUBLIC"
                  >
                    <span>Public</span>
                    <badge type="default">4</badge>
                  </base-button>
                  <base-button
                    type="default"
                    size="sm"
                    class="float-right"
                    v-b-popover.hover.bottom="
                      'En visibilité uniquement pour moi.'
                    "
                    title="Mémo PRIVE"
                  >
                    <span>Privé</span>
                    <badge type="secondary">4</badge>
                  </base-button>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Ouverts</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Clôts</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Archivés</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>{{ username }}</h3>
              <div class="h6 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{ useremail }}
              </div>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <!-- LISTE DES MEMOS -->
                <memo-list></memo-list>
              </div>
            </div>
          </div>
        </card>
      </div>
    </section>
  </div>
</template>

<script>
import httpClient from "@/services/httpClient";

import { VBPopover } from "bootstrap-vue/esm/directives/popover/popover";
import MemoList from "@/views/app/memo/Memos";

export default {
  name: "profil",
  directives: {
    BPopover: VBPopover,
  },
  components: {
    MemoList,
  },
  inject: ["accountService"],
  data() {
    return {
      username: "...",
      useremail: "",
    };
  },
  methods: {},
  mounted() {
    if (!this.$store.getters.account && !this.$store.getters.logon) {
      this.accountService()
        .retrieveAccount()
        .then(
          (response) => {
            if (response) {
              this.$store.commit("authenticated", response);
              this.username = response.name;
              this.useremail = response.email;
            } else {
              this.$store.commit("logout");
              this.$router.push("/");
            }
          },
          (error) => {
            this.$store.commit("logout");
            this.$router.push("/");
          }
        );
    } else {
      this.username = this.accountService().currentUser().name;
      this.useremail = this.accountService().currentUser().email;
    }
  },
  created() {},
  beforeRouteEnter(to, from, next) {
    if (!localStorage.getItem("token")) {
      return next("login");
    }
    next();
  },
};
</script>

<style>
</style>
