<template>
  <header class="header-global">
    <base-nav class="navbar-main" transparent type="" effect="light" expand>
      <router-link slot="brand" class="navbar mr-lg-5" to="/">
        <img src="img/brand/logo-memoplace-white.png" alt="logo" width="120" height="60"/>
      </router-link>

      <div class="row" slot="content-header" slot-scope="{ closeMenu }">
        <div class="col-6">
          <a href="../index.html">
            <img src="img/brand/logo-memoplace.png" alt="logo" width="120" height="60"/>
          </a>
        </div>
        <div class="col-6 collapse-close">
          <close-button @click="closeMenu"></close-button>
        </div>
      </div>

      <!-- Navigation for Small, Medium screen --> 
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-sm-block d-md-block d-lg-none" v-if="!isLoggedIn">
          <router-link
            class="nav-link nav-link-icon"
            :to="{ name: 'register' }"
            data-toggle="tooltip"
            title="Pas de compte? Enregistrez-vous!"
          >
            <i class="fa fa-user-circle mr-2"></i>
            <span class="nav-link-inner--text d-lg-none">S'enregistrer</span>
          </router-link>
        </li>
        <li class="nav-item d-sm-block d-md-block d-lg-none" v-if="!isLoggedIn">
          <router-link
            class="nav-link nav-link-icon"
            :to="{ name: 'login' }"
            data-toggle="tooltip"
            title="Déjà un compte? Connectez-vous!"
          >
            <i class="fa fa-sign-in mr-2"></i>
            <span class="nav-link-inner--text d-lg-none">Connexion</span>
          </router-link>
        </li>
        <li class="nav-item d-sm-block d-md-block d-lg-none" v-if="isLoggedIn">
          <router-link
            class="nav-link nav-link-icon"
            :to="{ name: 'profile' }"
            data-toggle="tooltip"
            title="Accéder à votre profil!"
          >
              <i class="ni ni-circle-08 mr-2"></i>
            <span class="nav-link-inner--text d-lg-none">Profil</span>
          </router-link>
        </li>
        <li class="nav-item d-sm-block d-md-block d-lg-none" v-if="isLoggedIn">
          <a
            class="nav-link nav-link-icon"
            href="#"
            @click="logout()"
            data-toggle="tooltip"
            title="Déconnectez-vous de votre compte!"
          >
              <i class="fa fa-sign-out mr-2"></i>
            <span class="nav-link-inner--text d-lg-none">Déconnexion</span>
          </a>
        </li>
      </ul>

      <!-- Navigation for Large screen --> 
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block ml-lg-4" v-if="!isLoggedIn">
          <button
            @click="$router.push({ name: 'register' })"
            class="btn btn-icon"
          >
            <span class="btn-inner--icon">
              <i class="fa fa-user-circle mr-2"></i>
            </span>
            <span class="nav-link-inner--text">S'enregistrer</span>
          </button>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" v-if="!isLoggedIn">
          <button @click="$router.push({ name: 'login' })" class="btn btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-sign-in mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Connexion</span>
          </button>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" v-if="isLoggedIn">
          <button
            @click="$router.push({ name: 'profile' })"
            class="btn btn-icon"
          >
            <span class="btn-inner--icon">
              <i class="ni ni-circle-08 mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Profil</span>
          </button>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" v-if="isLoggedIn">
          <button @click="logout()" class="btn btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-sign-out mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Déconnexion</span>
          </button>
        </li>
      </ul>
    </base-nav>
  </header>
</template>
<script>
import httpClient from "@/services/httpClient";

import CloseButton from "@/components/CloseButton";
import BaseNav from "@/components/BaseNav";

export default {
  name: "headerApp",
  components: {
    BaseNav,
    CloseButton,
  },
  data() {
    return {
      isLoggedIn: null,
      name: null,
    };
  },
  methods: {
    logout() {
      httpClient
        .post("api/logout")
        .then((response) => {
          window.location.href = "/";

          localStorage.removeItem("user");
          localStorage.removeItem("token");
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
  mounted() {
    this.isLoggedIn = localStorage.getItem("token");
    this.name = localStorage.getItem("user");
  },
};
</script>
<style>
</style>
