<template>
  <div id="app">
    <router-view name="header"></router-view>
    <main>
      <fade-transition origin="center" mode="out-in" :duration="250">
        <router-view />
      </fade-transition>
      <scroll-top></scroll-top>
    </main>
    <router-view name="footer"></router-view>
  </div>
</template>
<script>
import { FadeTransition } from "vue2-transitions";
import ScrollTop from "./views/app/core/fix/ScrollTop";

export default {
  components: {
    FadeTransition,
    ScrollTop,
  },
};
</script>
